html, body, div, span, applet, object, iframe,
h1, h2, h4, h5, h3, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

span {
  display: inline-block; }

.clear {
  clear: both; }

body {
  font-family: 'Roboto', sans-serif; }

.header {
  background: #262537; }

@media only screen and (min-width: 768px) {
  .header-left {
    display: flex;
    justify-content: space-between; } }
.header-left_item {
  padding: 22px 0px;
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .header-left_item {
      text-align: left; } }
  .header-left_item img {
    margin: 0 auto; }
    @media only screen and (min-width: 992px) {
      .header-left_item img {
        margin-left: 0; } }
  .header-left_item span {
    font-weight: 400;
    font-size: 14px;
    color: #f7c607;
    padding-left: 18px; }
  .header-left_item span:first-child {
    background: url(../img/tel.png) no-repeat left top 2px;
    height: 20px; }
  .header-left_item span:last-child {
    background: url(../img/marker.png) no-repeat left top 2px;
    margin-top: 10px;
    height: 20px; }
@media only screen and (min-width: 992px) {
  .header-left_item:first-child {
    padding-top: 30px; } }
@media only screen and (min-width: 992px) {
  .header-left_item:nth-child(2) {
    padding-left: 50px; } }

.nav {
  text-align: center; }
  @media only screen and (min-width: 992px) {
    .nav {
      text-align: left; } }
  @media only screen and (min-width: 768px) {
    .nav ul {
      display: flex;
      justify-content: space-between; } }
  .nav ul li:hover {
    background: #1F1E2C; }
  .nav ul li a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #262537; }
    .nav ul li a:hover {
      border-bottom: 2px solid #F7C607; }
    @media only screen and (min-width: 992px) {
      .nav ul li a {
        padding-top: 70px;
        padding: 70px 6px 0px; }
        .nav ul li a:hover {
          border-bottom: 2px solid #F7C607;
          background: #1F1E2C; } }

.box-1 {
  padding: 25px 0px;
  background: url(../img/f1-mob.jpg) no-repeat top center;
  width: 100%;
  background-size: cover; }
  @media only screen and (min-width: 992px) {
    .box-1 {
      background: url(../img/f1.jpg) no-repeat top center;
      padding: 89px 0px;
      background-size: cover; } }
  .box-1_item__block {
    text-align: center;
    margin-bottom: 17px; }
    .box-1_item__block span {
      font-size: 14px;
      font-weight: 400;
      color: #1f1e2c; }
    @media only screen and (min-width: 768px) {
      .box-1_item__block {
        width: 33%;
        float: left; } }
    .box-1_item__block .box-1_img {
      height: 85px; }
  .box-1_txt {
    padding-bottom: 48px; }
    @media only screen and (min-width: 1240px) {
      .box-1_txt {
        padding-right: 20px; } }
    .box-1_txt p:first-child {
      color: #262537;
      font-size: 22px;
      font-weight: 900;
      line-height: 24px; }
    .box-1_txt .p-next {
      color: #1f1e2c;
      font-size: 16px;
      font-style: italic;
      line-height: 18px;
      padding-top: 25px;
      padding-bottom: 50px; }
    .box-1_txt .phone {
      font-size: 30px;
      font-weight: 900;
      text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.3);
      color: white; }
      @media only screen and (min-width: 1240px) {
        .box-1_txt .phone {
          font-size: 70px; } }
    .box-1_txt .kr {
      display: block;
      text-align: left;
      font-size: 16px;
      font-style: italic; }
      @media only screen and (min-width: 1240px) {
        .box-1_txt .kr {
          padding-right: 41px;
          text-align: right; } }

h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 26px; }

.box-2 {
  padding: 25px 0px;
  background: url(../img/f2-mob.jpg) no-repeat top center;
  width: 100%;
  background-size: cover; }
  @media only screen and (min-width: 992px) {
    .box-2 {
      background: url(../img/f2.jpg) no-repeat top center;
      padding: 89px 105px;
      background-size: cover; } }
  @media only screen and (min-width: 1240px) {
    .box-2 {
      padding: 89px 110px; } }
  .box-2_txt p {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 40px; }

#slider .item .item__box {
  width: 225px;
  margin: 0 auto; }
#slider .nav-left {
  background: url(../img/prev-left.png) no-repeat;
  width: 15px;
  height: 43px;
  position: absolute;
  top: 50%;
  left: -22px;
  transform: translateY(-50%); }
#slider .nav-right {
  background: url(../img/prev-right.png) no-repeat;
  width: 15px;
  height: 43px;
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translateY(-50%); }

.box-3 {
  padding: 25px 0px;
  background: #262537; }
  @media only screen and (min-width: 992px) {
    .box-3 {
      padding: 97px 0px; } }
  .box-3 h2 {
    color: white;
    text-align: center; }
  .box-3 .plan {
    margin-bottom: 60px; }
    .box-3 .plan img {
      margin: 0 auto; }

.box-4 {
  background: #1F1E2C;
  padding: 25px 0px; }
  @media only screen and (min-width: 992px) {
    .box-4 {
      padding: 100px 0px; } }
  .box-4_img__item {
    display: inline-block;
    padding-right: 20px; }
  .box-4_txt {
    color: #fff; }
    .box-4_txt h3 {
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 35px; }
    .box-4_txt p {
      color: white;
      font-size: 14px;
      font-weight: 400;
      padding-bottom: 18px; }
      .box-4_txt p span {
        font-size: 18px;
        color: #F7C607; }

.box-5 {
  background: #F7C607; }
  .box-5_form {
    padding: 50px 0px; }
  .box-5 form .sp1 {
    color: #1f1e2c;
    font-size: 30px;
    font-weight: 900;
    font-style: italic;
    padding-bottom: 25px; }
  .box-5 form .sp2 {
    color: #262537;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 20px; }
  .box-5 form input {
    width: 90%;
    height: 70px;
    padding-left: 29px;
    outline: none;
    border: none;
    background: #fff;
    margin-bottom: 20px;
    color: #999;
    font-size: 18px;
    font-style: italic; }
  .box-5 form button {
    width: 90%;
    height: 70px;
    background-color: #1f1e2c;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    outline: none;
    border: none;
    -webkit-transition: 0.5s; }
    .box-5 form button:hover {
      color: #F7C607; }

.layot-wrap {
  margin-bottom: 35px; }

.layot-txt {
  text-align: center; }
  .layot-txt span {
    font-size: 14px;
    font-weight: 400;
    color: #f7c607; }

/*# sourceMappingURL=style.css.map */
